<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Basic blog</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <h1>Basic Blog</h1>
        <button type="submit" id="newPost">new post</button>
        {% for post in posts %}
            <section>
                <article>
                    <div class="subject">
                        {{post.subject}}
                    </div>
                    <div class="date">
                        {{post.created}}
                    </div>
                </article>
                <div class="content">
                    {{post.content}}
                </div>
            </section>
            <hr>
        {% endfor %}
    </body>
    <script type="text/javascript" src="/js/script.js">

    </script>
</html>
