<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>new post</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <h1>new post</h1>
        {{id}}
        <form method="post">
            <label>
                <div class="title">
                   Title
                </div>
                <input type="text" id="title" name="subject" value ={{subject}}>
            </label>

            <label>
                <div class="post">
                    Post
                </div>
                <textarea id="post" name="content" rows="8" cols="80">
                    {{content}}</textarea>
            </label>

            <div class="error">
                {{error}}
            </div>

        <input type="submit" id="submit" value="Submit">

        </form>
    </body>
</html>
