<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Post</title>
    </head>
    <body>
        <h1 class="paragraph">POST</h1>
        <button type="button" id="button-return" name="button">Home Page</button>
        <hr>
        <div class="subject" name="subject">
            {{subject}}
        </div>
        <div class="content" name="content">
             {{content}}
        </div>
    </body>
    <script type="text/javascript" src="/js/post-return.js">

    </script>

</html>
