body {
    padding: 20px;
    margin: 10px;
    max-width: 100vw;
}

h1 {
    color: blue;
    text-align: center;
}

form {
    display: flex;
    flex-flow:column;
}

.new {
    color: green;
}

.title,
.post {
    font-size: 20px;
    font-weight: bold;
}

#title,
#post,
.title,
.post {
    margin: 10px;
}

input#submit {
    margin-left: 100px;
    max-width: 20vw;
    border-radius: 30px;
}

section {
    padding: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

article {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
